In [4]:
y = int(input('Input a Number: '))
if (y % 2)==0:
    print ("Even Wins!!!")
else:
    print ("Odd Wins!!!")

Input a Number: 8
Even Wins!!!

In [5]:
PLAYER1 = int(input('Input a Number PLAYER 1: '))
PLAYER2 = int(input('Input a Number PLAYER 2: '))
if ((PLAYER1 + PLAYER2)%2)==0:
    print ("PLAYER 1 Wins!!!")
else:
    print ("PLAYER 2 Wins!!!")

Input a Number PLAYER 1: 5
Input a Number PLAYER 2: 6
PLAYER 2 Wins!!!

In [11]:
RDSpend = [12233,3445,324565,3645,36576,34657,786765,587989,879768,68987]
Administration = [64654, 54634, 454552, 6546859, 468686, 254245, 66224, 55156, 545441, 84546]
MarketingSpend = [543553, 564156, 512641, 4156415, 654156, 5641564, 5476567, 5645641, 5463153, 63415641]
State = ['New York', 'Cali', 'FloRida', 'New York', 'Cali', 'FloRida', 'New York', 'Cali', 'FloRida', 'New York']
Profit = [68556, 854156, 41536, 524163, 64185, 85413, 85641, 251351, 543141, 51521]
tab = {'RDSpend': RDSpend, 'Administration': Administration, 'MarketingSpend': MarketingSpend, 'State': State, 'Profit': Profit}

import pandas

data = pandas.DataFrame(tab)

data

   RDSpend  Administration  MarketingSpend     State  Profit
0    12233           64654          543553  New York   68556
1     3445           54634          564156      Cali  854156
2   324565          454552          512641   FloRida   41536
3     3645         6546859         4156415  New York  524163
4    36576          468686          654156      Cali   64185
5    34657          254245         5641564   FloRida   85413
6   786765           66224         5476567  New York   85641
7   587989           55156         5645641      Cali  251351
8   879768          545441         5463153   FloRida  543141
9    68987           84546        63415641  New York   51521

In [13]:
distance = 50 
time = 2
speed = distance/time
print (speed, "miles/hr")

25.0 miles/hr