# Step 1: Declare Variables

In [1]:
Names = ["Ann", "Jane","Joan", "Clare", "Elizabeth", "Charles", "Jude","James", "Kelvin", "Prosper"]
Age = [14, 15 ,16, 17 ,18 ,19, 12, 15, 17, 16]
Height = [5.6, 5.4, 5.7, 6.0, 6.1, 5.8, 5.5, 5.4, 6.3, 5.1]
Scores = [65, 70, 81, 45, 90, 79, 60, 79, 34, 89]

# Step 2 : Create a Directory object containing the observations

In [7]:
tab = {"Names": Names , "Age": Age, "Height": Height, "Scores": Scores}

# Step 3 : Import Pandas

In [3]:
import pandas

# Step 4 : Convert to Dataframe

In [4]:
dir(pandas)

['BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__getattr__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_config',
 '_hashtable',
 '_is_numpy_dev',
 '_lib',
 '_libs',
 '_np_version_under1p16',
 '_np_version_under1p17',
 '_np_version_under1p18',
 '_testing',
 '_tslib',
 '_typing',
 '_version',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

In [5]:
data = pandas.DataFrame(tab)

# Step 5 : View Data

In [6]:
data

       Names  Age  Height  Scores
0        Ann   14     5.6      65
1       Jane   15     5.4      70
2       Joan   16     5.7      81
3      Clare   17     6.0      45
4  Elizabeth   18     6.1      90
5    Charles   19     5.8      79
6       Jude   12     5.5      60
7      James   15     5.4      79
8     Kelvin   17     6.3      34
9    Prosper   16     5.1      89

# Step 6 : Save to Excel

In [9]:
data.to_excel("Tables & Excel in Python.xlsx")